# Arbeitspaket (AP) 1: Advanced Data Collection Methods

### Persönliche Angaben (bitte ergänzen)

<table>
  <tr>
    <td>Vorname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Nachname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Immatrikulationsnummer:</td>
    <td></td>
  </tr>
  <tr>
    <td>Modul:</td>
    <td>Data Science</td>
  </tr>
  <tr>
    <td>Prüfungsdatum / Raum / Zeit:</td>
    <td>11.11.2024 / Raum: SF O3.54 / 8:00 – 11:45</td>
  </tr>
  <tr>
    <td>Erlaubte Hilfsmittel:</td>
    <td>w.MA.XX.DS.24HS (Data Science)<br>Open Book, Eigener Computer, Internet-Zugang</td>
  </tr>
  <tr>
  <td>Nicht erlaubt:</td>
  <td>Nicht erlaubt ist der Einsatz beliebiger Formen von generativer KI (z.B. Copilot, ChatGPT) <br> sowie beliebige Formen von Kommunikation oder Kollaboration mit anderen Menschen.</td>
</tr>
</table>

## Bewertungskriterien

### <b style="color: gray;">(max. erreichbare Punkte: 48)</b>

<table>
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Beschreibung</th>
      <th>Punkteverteilung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Code nicht lauffähig oder Ergebnisse nicht sinnvoll</td>
      <td>Der Code enthält Fehler, die verhindern, dass er ausgeführt werden kann (z.B. Syntaxfehler) oder es werden Ergebnisse ausgegeben, welche nicht zur Fragestellung passen.</td>
      <td>0 Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit gravierenden Mängeln</td>
      <td>Der Code läuft, aber die Ergebnisse sind aufgrund wesentlicher Fehler unvollständig (z.B. grundlegende Fehler beim Einlesen der Daten). Nur geringer Fortschritt erkennbar.</td>
      <td>25% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit mittleren Mängeln</td>
      <td>Der Code läuft und liefert teilweise korrekte Ergebnisse, aber es gibt grössere Fehler (z.B. die Datentypen der eingelesenen Daten entsprechen nicht den Anforderungen gemäss Fragestellung). Die Ergebnisse sind nachvollziehbar, aber unvollständig oder ungenau.</td>
      <td>50% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit minimalen Mängeln</td>
      <td>Der Code läuft und liefert ein weitgehend korrektes Ergebnis, aber kleinere Fehler (z.B. Spaltenname falsch geschrieben, TimeStamp nicht korrekt formatiert) beeinträchtigen die Vollständigkeit des Ergebnisses.</td>
      <td>75% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig und korrekt</td>
      <td>Der Code läuft einwandfrei und liefert das korrekte Ergebnis ohne Mängel.</td>
      <td>100% der max. erreichbaren Punkte</td>
    </tr>
  </tbody>
</table>

## Python Libraries und Settings

In [1]:
# Libraries
import os
import re
import json
import requests
import feedparser
import pandas as pd
import yfinance as yf
from zipfile import ZipFile
from bs4 import BeautifulSoup
from datetime import datetime
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from pandas import json_normalize
from lxml import html as lxml_html

from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

/home/pfrei/Dokumente/GitHub/data_ingestion/AP01

## <b>Vorbereitung (Dieser Teil wird <u>nicht</u> bewertet!)</b>

#### <b>1.) Starten Sie eine GitHub Codespaces Instanz auf Basis Ihres Forks des folgenden GitHub Repositories:</b>

##### GitHub-Repository: https://github.com/mario-gellrich-zhaw/data_ingestion

## <b>Aufgaben (Dieser Teil wird bewertet!)</b>
<b style="color:blue;">Hinweise zu den folgenden Aufgabenstellungen:</b>
<ul style="color:blue;">
  <li>Beachten Sie auch die zu jeder Aufgabenstellung zugehörenden Details zu Aufgabenstellung.</li>
  <li>Lösen Sie jede Aufgabe mit Hilfe von Python Code. Integrieren Sie den Python Code in die Code-Zellen der jeweiligen Aufgabe.</li>
  <li>Stellen Sie die Lösung(en) jeder Aufgabe ganz oder in Teilen (z.B. erste 5 Zeilen) eines DataFrames im Jupyter Notebook dar.</li>
  <li>Wenn in den Aufgaben in Bezug auf das Datum vom 'aktuellen Tag' gesprochen wird, ist der Tag der Durchführung dieses Leistungsnachweises gemeint.</li>
</ul>

#### <b>Aufgabe (1): Importieren Sie jedes der über den folgenden Codezellen angegebenen Files in ein eigenes pandas DataFrame.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden die Files im Order 'Data'.
- Berücksichtigen Sie die Ablage der Files beim Einlesen (z.B. Pfad zum Einlesen von 'BigmacPrice.csv' is: './Data/BigmacPrice.csv').
- Zeigen Sie mit Hilfe eines geeigneten Python Befehls die Dimension des pandas DataFrames (Anzahl Zeilen und Spalten) im Jupyter Notebook an.
- Stellen sie die erstellten DataFrames entweder ganz oder in Teilen (z.B. die ersten 5 Zeilen) im Jupyter Notebook dar.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

#### Importieren von 'BigmacPrice.csv'

In [2]:
# Import File 'BigmacPrice.csv' in ein Pandas DataFrame
data = pd.read_csv("Data/BigmacPrice.csv", sep=",")

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
data.info()


# Anzeigen des DataFrames
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1946 entries, 0 to 1945
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1946 non-null   object
 1   currency_code  1946 non-null   object
 2   name           1946 non-null   object
 3   local_price    1946 non-null   float64
 4   dollar_ex      1946 non-null   int64
 5   dollar_price   1946 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 91.3+ KB

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2000-04-01,ARS,Argentina,2.50,1,2.50
1,2000-04-01,AUD,Australia,2.59,1,2.59
2,2000-04-01,BRL,Brazil,2.95,1,2.95
3,2000-04-01,GBP,Britain,1.90,1,1.90
4,2000-04-01,CAD,Canada,2.85,1,2.85
...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
1942,2022-07-01,USD,United States,5.15,1,5.15
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22
1944,2022-07-01,VES,Venezuela,10.00,5,2.00
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95

#### Importieren von 'CarData.xml'

In [3]:
# Import File 'CarData.xml'
data = pd.read_xml("Data/CarData.xml")

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
data.info()

# Anzeigen des DataFrames
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   car_id      1000 non-null   int64
 1   make        1000 non-null   object
 2   type        1000 non-null   object
 3   year        1000 non-null   int64
 4   hp          1000 non-null   int64
 5   mileage     1000 non-null   int64
 6   price       1000 non-null   float64
 7   doors       1000 non-null   int64
 8   color       1000 non-null   object
 9   vin_number  1000 non-null   object
dtypes: float64(1), int64(5), object(4)
memory usage: 78.3+ KB

,car_id,make,type,year,hp,mileage,price,doors,color,vin_number
0,1,Chevrolet,Sedan,1991,158,25040,17145.80,3,Orange,A4BEEC1BAEAE4759B02FB952F5FDF7D0
1,2,BMW,Wagon,1991,465,137449,29727.51,5,Red,3D154B9E846947C0BACB1729E4F3157A
2,3,Kia,Van,2001,189,202308,73312.00,4,Red,E1AF7108C06E4501BFD5876FD733AB65
3,4,Toyota,SUV,2011,117,123661,22342.98,5,Black,880B573230AA42488E2D97F065BB0681
4,5,Nissan,SUV,2004,339,256696,53094.74,5,Blue,138ECF9A0D8748F99F401942FD139103
...,...,...,...,...,...,...,...,...,...,...
995,996,Mercedes,SUV,1996,208,214041,34556.26,5,Gray,D716E7A6FD3549B1AFD8D42CB083851B
996,997,BMW,Convertible,1997,138,199941,78583.80,2,Orange,AA40494122964265A8DB8CC754872212
997,998,Hyundai,Hatchback,1995,148,171642,6305.79,2,Black,AE66CEDD89E14407A8DF942306EDD05E
998,999,Kia,Convertible,2013,182,174423,24116.54,5,Gray,0EED0E330781414882CEE2B4D46C09A1
999,1000,Chevrolet,SUV,1999,284,289159,34280.98,3,Gray,D6047F4CC48F401EAAA43E0A931533A2

#### Importieren von 'ChickenData.xlsx'

In [5]:
# Import File 'ChickenData.xlsx'
data = pd.read_excel("Data/ChickenData.xlsx")

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
data.info()


# Anzeigen des DataFrames
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   chicken_id     100 non-null    int64
 1   weight         100 non-null    float64
 2   breed          100 non-null    object
 3   eggs_per_year  100 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.3+ KB

    chicken_id       weight              breed  eggs_per_year
0            1  2435.836917  New Hampshire Red            158
1            2  2157.180545         Australorp            273
2            3  2558.418035  New Hampshire Red            153
3            4  2679.200608      Plymouth Rock            268
4            5  2556.855145         Australorp            360
..         ...          ...                ...            ...
95          96  2657.234722      Plymouth Rock            314
96          97  2353.422441  New Hampshire Red            297
97          98  2681.538659         Australorp            156
98          99  2563.850789          ISA Brown            225
99         100  2342.702013         Australorp            213

[100 rows x 4 columns]

#### Importieren von 'HotelData.json'

In [14]:
# Import File 'HotelData.json'
hotels = pd.read_json('Data/HotelData.json')

# Anzeigen der Anzahl Zeilen und Spalten im DataFrame
print(hotels.shape)
# Anzeigen des DataFrames
hotels.head()

(456, 5)

,type,generator,copyright,timestamp,features
0,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
1,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
2,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'rel..."
3,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'way..."
4,FeatureCollection,overpass-turbo,The data included in this document is from www...,2024-10-27 16:52:02+00:00,"{'type': 'Feature', 'properties': {'@id': 'way..."

#### <b>Aufgabe (2): Extrahieren Sie aus dem File 'BookStore.html' die Preise der Bücher mit Hilfe eines geeigneten XPath.</b>
<b>Details zur Aufgabenstellung:</b>
- Sie finden das HTML-File 'BookStore.html' im Order 'Data'.
- Komplettieren Sie für das Lösen der Aufgabe den unfertigen XPath im folgenden Python Code.
- Beachten Sie, dass nur ein einziger XPath für das Extrahieren aller Preise notwendig ist.
- Stellen Sie die extrahierten Preise im Jupyter Notebook dar.<br><br>
- Tipp: Für das Testen des XPath können Sie diesen Online XPath-Tester verwenden: http://xpather.com

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [9]:
# Import File 'BookStore.html'
with open('./Data/BookStore.html', 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parsen des HTML-Contents
tree = lxml_html.fromstring(html_content)

# XPath zum Extrahieren der Buchpreise (bitte dort wo im XPath '...' steht, komplettieren)
try:
    prices = tree.xpath('/html/body/div/.../p[2]/text()')
except:
    prices = [] # gibt eine leere Liste aus, falls der XPath nicht korrekt ist

# Anzeigen der extrahierten Buchpreise
print("Extracted Book Prices:", prices)

Extracted Book Prices: []

#### <b>Aufgabe (3): Erstellen Sie ein pandas DataFrame mit den Daten aus der folgenden Tabelle (1), und speichern Sie dieses als XML-File ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Speichern Sie das erstellte XML-File als 'SmartphoneData.xml' im Ordner 'Data'.
- Stellen Sie das erstellte DataFrame im Jupyter Notebook dar.<br>

Tipp: Beim Erstellen eines Dataframes wird typischerweise zuerst ein Python dictionary erstellt und dieses anschliessend in ein DataFrame umgewandelt.

Tabelle (1): Smartphone Data

| Marke       | Modell       | Baujahr | Farbe   | Preis   |
|-------------|--------------|---------|---------|---------|
| Apple       | iPhone 12    | 2020    | Schwarz | 799     |
| Samsung     | Galaxy S21   | 2021    | Weiß    | 999     |
| Google      | Pixel 5      | 2020    | Grün    | 699     |
| OnePlus     | 8 Pro        | 2020    | Blau    | 899     |

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [ ]:
# Erstellen des DataFrames aus der gegebenen Tabelle
data = {
'Marke': ['Apple', 'Samsung', 'Google', 'OnePlus'],
'Modell': ['iPhone 12', 'Galaxy s21', 'Pixel 5', '8 Pro'],
'Baujahr': ['2020', '2021', '2020', '2020'],
'Farbe': ['2020', '2021', '2020', '2020'],
'Preis': ['799', '999', '699', '899']

}

df = pd.DataFrame(data)

# Abspeichern des DataFrames als XML-Datei

# Anzeigen des DataFrames
df

#### <b>Aufgabe (4): Erstellen Sie ein ZIP-File aus den folgenden genannten Files, und speichern Sie dieses im Order 'Data' ab.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie die folgenden Files aus dem Ordner 'Data' als Input für das ZIP-File:
  - BigmacPrice.csv
  - BookStore.html
  - CarData.xml
  - ChickenData.xlsx
  - HotelData.json
- Speichern Sie das ZIP-File als 'MyData.zip' im Ordner 'Data' ab.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [11]:
# Erstellen eines leeren Zip-Archivs


# Hinzufügen der Dateien zum Zip-Archiv


# Schliessen des Zip-Archivs

#### <b>Aufgabe (5): Beziehen Sie Daten zu Cryptowährungen mit Hilfe der Coingecko Web API.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie die folgenden Bezeichnungen (Ids) der Cryptowährungen für die Server-Anfragen: <b>binancecoin, cardano, polkadot, solana</b>.
- Fragen Sie folgende Daten ab (Währung = EUR):
  - Markkapitalisierung (include_market_cap='true')
  - 24 Stunden Volumen (include_24hr_vol='true')
  - 24 Stunden Veränderung (include_24hr_change='true')
  - Datum des letzten Updates (include_last_updated_at='true')
- Wandeln Sie die Daten in ein DataFrame um und stellen Sie dieses im Jupyter Notebook dar.<br><br>

- Tipp: data = cg.get_price() speichert die Daten in ein Python dictionary. Dieses kann mit df = pd.DataFrame(data) in ein DataFrame umgewandelt werden.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [12]:
# Beziehen der Daten mit Hilfe der Coingecko Web API


# Speichern der Daten in einem pandas DataFrame


# Anzeigen des DataFrames

#### <b>Aufgabe (6): Beziehen Sie Börsendaten zur Tesla-Aktie mit Hilfe der Yahoo-Finance Web API.</b>
<b>Details zur Aufgabenstellung:</b>
- Die Tesla Aktie hat das Kürzel TSLA.
- Definieren Sie '2023-01-01' als Startdatum für die Abfrage der Börsendaten.
- Verwenden Sie die Python Library 'datetime' für die Erstellung des Enddatums (aktueller Tag).
- Speichern Sie die Börsendaten in einem pandas DataFrame ab.
- Stellen Sie die Daten der fünf aktuellsten Börsentage im Jupyter Notebook dar.<br><br>

- Hinweis: Die neusten Daten aus der Yahoo-Finance Web API sind jeweils vom Vortag.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [13]:
# Erstellen eines Datumsobjekts mit dem aktuellen Datum und der aktuellen Uhrzeit
 

# Beziehen der Tesla Aktienkurse von Yahoo Finance


# Anzeigen der Anzahl Zeilen und Spalten im DataFrame


# Anzeigen des DataFrames mit den Daten der fünf aktuellsten Börsentage

#### <b>Aufgabe (7): Beziehen Sie mit Hilfe der Overpass Turbo Web API Daten zu den Tankstellen in der Schweiz.</b>
<b>Details zur Aufgabenstellung:</b>
- Tankstellen sind mit dem key:value Paar "amenity"="fuel" in der OpenStreetMap Map-Feature Übersicht angegeben.
- Speichern Sie die Daten in einem File 'petrol_station.json' im Order 'Data' ab.
- Lesen Sie die Daten zusätzlich in ein pandas DataFrame und zeigen Sie dieses ganz oder in Teilen (z.B. erste 5 Zeilen) an.<br><br>
- Tipp: Auf der Webseite: https://overpass-turbo.eu können Sie Overpass Turbo Abfragen testen.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [14]:
# Overpass API URL


# Overpass turbo Abfrage-String


# Web API Anfrage


# Speichern der Daten in einer JSON-Datei


# Speichern der Daten in einem Pandas DataFrame und Anzeigen des DataFrames

#### <b>Aufgabe (8): Beziehen und Visualisieren Sie die aktuellen News-Feed (RSS-Feed) Daten der New York Times.</b>
<b>Details zur Aufgabenstellung:</b>
- Verwenden Sie diese URL zum RSS-Feed der New York Times Welt-Nachrichten: https://rss.nytimes.com/services/xml/rss/nyt/World.xml
- Beziehen Sie die RSS-Feeds und extrahieren sie die Titel der Artikel aus den RSS-Feed Einträgen.
- Zeigen Sie die Titel der RSS-Feed Einträge im Jupyter Notebook an.
- Erstellen Sie eine Graphik mit einer Word-Cloud der Titel der RSS-Feed Einträge und stellen Sie diese im Jupyter Notebook dar.

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [15]:
# Parsen des RSS-News Feed von der New York Times World News Webseite


# Extrahieren der RSS-Feed Einträge


# Initialisieren des WordCloud-Texts


# Loop für Anzeige des Artikel-Titels


# Generieren der WordCloud


# Anzeigen der WordCloud

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [16]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('IP Address:', socket.gethostbyname(socket.gethostname()))
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.8.0-87-generic
Datetime: 2025-11-04 22:32:20
Python Version: 3.12.12
IP Address: 127.0.1.1
-----------------------------------